<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="fd" />
  <package id="font-hackgen" />
  <package id="font-hackgen-nerd" />
  <package id="gitkraken" />
  <package id="gsudo" />
  <package id="micro" />
  <package id="ripgrep" />
  <package id="virtualbox" />
</packages>