<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="docker-cli" />
  <package id="font-hackgen" />
  <package id="font-hackgen-nerd" />
</packages>