[user]
	name = ShinnosukeSuzuki
	email = sasasin@sasasin.net
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[ghq]
    root = ~/src
[core]
	editor = /opt/homebrew/bin/micro
[diff "sopsdiffer"]
        textconv = sops -d
