[Unit]
Description=PowerTOP auto tune

[Service]
Type=idle
Environment="TERM=dumb"
ExecStart=/bin/powertop-tune.sh

[Install]
WantedBy=multi-user.target
