[Unit]
Description=PowerTOP auto tune

[Service]
Type=idle
Environment="TERM=dumb"
ExecStart=/bin/sh -c '/usr/sbin/powertop --auto-tune; echo "on" > /sys/bus/usb/devices/1-5/power/control;'

[Install]
WantedBy=multi-user.target
